.pokeball-selector {
  position: relative;
  display: inline-block;
}

.pokeball-selector-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.pokeball-selector-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pokeball-selector-menu {
  position: absolute;
  bottom: calc(100% + 8px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pokeball-selector-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 4px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.pokeball-selector-menu-item.selected {
  border: 5px solid #00C247;
}

.pokeball-selector-nav img {
  width: 30px;
  height: 30px;
}

.pokeball-selector-nav p {
  font-family: monospace;
  font-size: 12px;
}



.pokeball-selector-menu-item p {
  margin-left: 2px;
  font-size: 14px;
}